* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cabin", sans-serif;
  color: #333333;
  background: #fff;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input {
  color: #333333;
}

button {
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

input:focus-visible {
  outline: none;
}

select:focus-visible {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.my-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.mb-3 {
  margin-bottom: 12px;
}

.relative {
  position: relative;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.gap-x-1 {
  column-gap: 4px;
}

.gap-x-2 {
  column-gap: 8px;
}

.gap-x-3 {
  column-gap: 12px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.ml-1 {
  margin-left: 4px;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

/* --------------------------------- */
.wrapper {
  /* padding: 0 16px; */
  padding-top: 66px;
  padding-bottom: 95px;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}

.wrapper-auth {
  /* padding: 0 16px; */
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}

.wrapper-grey {
  /* padding: 0 16px; */
  padding-top: 66px;
  padding-bottom: 95px;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  background: #f3f3f3;
}

section {
  position: relative;
  padding: 0 16px;
}

.back-btn {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.back-btn i {
  font-size: 24px;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: rgb(0 0 0/16%) 0 0 6px;
  background: #fff;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  position: relative;

}

.header-logo {
  width: 99px;
}

.header-group {
  display: flex;
  align-items: center;
}

.header-group_search {
  width: 20px;
}

.header-group_bell {
  width: 20px;
}

.welcome {
  margin-top: 20px;
}

.welcome-title {
  font-weight: 700;
  font-size: 28px;
}

.welcome-desc {
  font-weight: 500;
  font-size: 16px;
  margin-top: 2px;
}

.service {
  margin-top: 20px;
}

.service-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-title_left {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.service-title_right {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #1677ff;
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.service-title_right .new-tag {
  color: #fff;
  background: #dc2323;
  font-size: 10px;
  border-radius: 99px;
  padding: 2px 6px;
}

.service-group {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 12px;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.service-item_img {
  width: 48px;
}

.service-item_title {
  font-weight: 600;
  margin-top: 2px;
}

.invest {
  margin-top: 20px;
}

.invest-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.invest-item {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  background: #fff;
}

.invest-item_img img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  aspect-ratio: 1.8;
}

.invest-item_name {
  font-weight: 700;
  font-size: 18px;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 8px;
}

.invest-item_desc {
  margin-top: 2px;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.invest-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 4px;
}

.invest-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invest-info_title {
  color: #595959c5;
}

.invest-info_desc {
  color: #9f1d25;
  font-weight: 700;
  font-size: 16px;
}

.invest-action {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 12px;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  border-radius: 8px;
}

.button-blue {
  background: #1677ffcf;
  color: #fff;
  border-bottom-left-radius: 8px;
  padding: 4px 8px;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button-red {
  background: #dc2323e0;
  color: #fff;
  border-bottom-right-radius: 8px;
  padding: 4px 8px;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.footer-fixed {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 63px;
  background: #fff;
  box-shadow: 0 11px 23px rgba(0, 0, 0, 0.28);
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.footer-icon {
  font-size: 24px;
}

.footer-text {
  font-size: 12px;
}

.footer-item {
  border-top: 3px solid #fff;
}

.footer-item_active {
  border-top: 3px solid #dc2323 !important;
  color: #dc2323 !important;
}

.info {
  padding-top: 20px;
  position: relative;
}

.bg-info {
  background: linear-gradient(180deg, rgba(247, 212, 210, 1) 0%, rgba(251, 231, 230, 1) 35%, rgba(243, 243, 243, 1) 100%);
  background-size: cover;
  width: 100%;
  max-width: 500px;
  height: 216px;
  position: absolute;
  top: 65px;
}

.info-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-size: cover;
  position: relative;
}



.info-avatar {
  position: relative;
  cursor: pointer;
}

.info-avatar_img {
  width: 56px;
  border: 3px solid #fff;
  border-radius: 100%;
}

.info-avatar_img img {
  border-radius: 100%;
}

.info-avatar_camera {
  border: 1px solid #fff;
  border-radius: 100%;
  background: #dbfeff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -2px;
  right: -2px;
}

.info-avatar_camera-img {
  width: 12px;
  display: flex;
}

.info-avatar_camera-img img {
  object-fit: contain;
}

.info-name {
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  position: relative;
}

.info-name_text {
  font-size: 20px;
}

.info-name_img {
  display: flex;
  width: 12px;
  position: absolute;
  left: calc(100% + 3px);
  top: 50%;
  transform: translateY(-50%);
}

.info-name_img img {
  object-fit: contain;
}

.info-phone {
  font-weight: 500;
  color: #595959c5;
  margin-top: 2px;
}

.info-edit {
  position: absolute;
  top: 0;
  right: 0;
}

.info-edit_icon {
  display: flex;
  align-items: center;
  column-gap: 2px;
  cursor: pointer;
}

.info-edit_icon {
  width: 20px;
}

.ranking {
  /* margin-top: -26px; */
  margin-top: 20px;
  position: relative;
}

.ranking-main {
  background: url("./../img/bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 12px 16px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.ranking-left {
  width: 100%;
  padding-right: 28px;
}

.ranking-line {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 999px;
  margin-top: 8px;
}

.ranking-title {
  display: flex;
  align-items: center;
  column-gap: 3px;
  font-weight: 700;
  font-size: 16px;
}

.ranking-title p {
  font-size: 18px;
}

.ranking-desc {
  color: #595959c5;
  font-weight: 500;
  margin-top: 2px;
}

.ranking-trophy_img {
  width: 40px;
}

.wallet {
  margin-top: 20px;
}

.wallet-main {
  background: #fff;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.wallet-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet-title_left {
  font-size: 16px;
  color: #595959c5;
  font-weight: 500;
}

.wallet-title_right {
  font-size: 14px;
  color: #1677ff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wallet-group {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 16px;
}

.wallet-group_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-icon {
  width: 52px;
  height: 52px;
  border-radius: 16px;
  background: #f2f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-icon i {
  font-size: 24px;
}

.wallet-text {
  margin-top: 4px;
  font-weight: 600;
}

.utility {
  margin-top: 20px;
}

.utility-main {
  background: #fff;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.utility-group {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.utility-item {
  display: flex;
  flex-direction: column;
}

.utility-top {
  display: flex;
}

.utility-item_icon i {
  font-size: 26px;
}

.utility-item_icon {
  width: 50px;
}

.utility-text {
  font-weight: 600;
  font-size: 18px;
}

.utility-item_line {
  width: calc(100% - 50px);
  height: 1px;
  background: #eeedf2;
  margin-left: 50px;
  margin-top: 12px;
}

.mailbox {
  margin-top: 20px;
}

.mailbox-title_right {
  display: flex;
  align-items: center;
  font-weight: 500;
  column-gap: 2px;
  cursor: pointer;
}

.mailbox-title_right i {
  font-weight: 700;
  font-size: 24px;
}

.mailbox-notification {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.mailbox-item {
  display: flex;
  column-gap: 8px;
  border: 1px solid #d8d8d858;
  border-radius: 5px;
  padding: 8px;
}

.mailbox-item_img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.mailbox-item_img img {
  border-radius: 100%;
}

.mailbox-content_title {
  font-weight: 700;
  font-size: 16px;
}

.mailbox-content_time {
  color: #595959c5;
  font-size: 12px;
}

.deposit {
  margin-top: 20px;
}

.deposit-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.input-title {
  color: #595959c5;
  margin-bottom: 2px;
}

.input-primary {
  width: 100%;
}

.input-primary input {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #c2c2c2a7;
  height: 44px;
  transition: all;
  transition-duration: .3s;
  padding: 2px 8px;
  font-size: 16px;
  margin-top: 1px;
}

.input-primary input:focus {
  border-color: #1677ff;
}

.button-submit {
  margin-top: 20px;
}

.btn-submit {
  color: #fff;
  background: #1677ff;
  border-radius: 5px;
  width: 100%;
  height: 44px;
  font-size: 16px;
}

.history {
  margin-top: 20px;
}

.history-date {
  background: #f3f3f3;
  padding: 8px 16px;
  margin-top: 12px;
  margin-left: -16px;
  width: calc(100% + 32px);
}

.history-date_text {
  font-size: 16px;
  font-weight: 600;
}

.history-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.history-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.history-left {
  display: flex;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.history-item_img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.history-item_img img {
  border-radius: 100%;
}

.history-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.history-text-title {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

.history-text-time {
  font-size: 12px;
  color: #595959c5;
}

.history-right {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 8px;
}

.history-point {
  font-weight: 700;
  font-size: 15px;
}

.history-status {
  font-weight: 600;
  color: #389e0d;
  font-size: 12px;
}

.history-datepicker i {
  font-size: 24px;
  cursor: pointer;
}

.point {
  margin-top: 20px;
}

.point-main {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point-title {
  font-size: 20px;
  font-weight: 700;
}

.point-status {
  font-weight: 600;
  color: #389e0d;
}

.bill {
  margin-top: 20px;
}

.bill-item {
  padding: 16px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.bill-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.bill-title {
  font-size: 18px;
  font-weight: 700;
}

.bill-point {
  display: flex;
  align-items: center;
  column-gap: 8px;
  background: #e9ecfd;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 12px;
}

.bill-point_img {
  width: 24px;
  flex-shrink: 0;
}

.bill-point_text {
  font-weight: 600;
}

.bill-event {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bill-event_title {
  font-size: 17px;
  font-weight: 700;
  color: #595959c5;
  flex-shrink: 0;
  padding-right: 16px;
}

.bill-event_desc {
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bill-event_line {
  width: 100%;
  height: 1px;
  background: #f5f4f9;
  margin-top: 12px;
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  width: 100%;
  max-width: 500px;
}

.auth-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.auth-logo {
  width: 196px;
}

.auth-heading {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 6px;
  padding-top: 6px;
}

.auth-policy {
  color: #595959c5;
}

.auth-policy span {
  color: #1677ff;
}

.auth-btn {
  margin-top: 8px;
  width: 100%;
}

.auth-confirm {
  width: 100%;
}

.auth-confirm span a {
  color: #1677ff;
  cursor: pointer;
  text-decoration: underline;
}